@model Urbanizacion.Web.Models.NegocioViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Registrar</h2>

<h4>Negocio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNegocio" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PropietarioId" />

            <div class="form-group">
                <label asp-for="Neg_Nombre" class="control-label"></label>
                <input asp-for="Neg_Nombre" class="form-control" />
                <span asp-validation-for="Neg_Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Neg_Descripcion" class="control-label"></label>
                <textarea asp-for="Neg_Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Neg_Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Neg_Telefono" class="control-label"></label>
                <input asp-for="Neg_Telefono" class="form-control" />
                <span asp-validation-for="Neg_Telefono" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Neg_Direccion" class="control-label"></label>
                <input asp-for="Neg_Direccion" class="form-control" />
                <span asp-validation-for="Neg_Direccion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                @*<a asp-action="Details" asp-route-id="@Model.PropietarioId" class="btn btn-success">Back to Owner</a>*@
            <a asp-action="Details" asp-route-id="@Model.PropietarioId" class="btn btn-info">
                <i aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
                    </svg>
                </i>
            </a>
            </div>
        </form>
    </div>
</div>


